@import '../../../node_modules/slick-carousel/slick/slick.scss';

.carusel  {
    margin: 0 -10px;

    .slick-slide {
        padding: 0 10px;
    }
    
    .slick-arrow {
        position: absolute;
        top: 44.8%;
        z-index: 5;
        cursor: pointer;
    }
    
    .slick-prev {
        left: 20px;
    }
    
    .slick-next {
        right: 15px;
    }

    @media (max-width: 1440px) {
        .slick-prev {
            left: 36px;
        }

        .slick-next {
            right: 30px;
        }        
    }
}