.header-location {
    display: flex;
    align-items: center;
    gap: 7px;
    text-decoration: none;
    
    // .header-location__icon
    &__icon {
        margin-top: 1px;
    }
    // .header-location__title
    &__title {
    }
}