/* Header */
.header {
    // .header__top
    &__top {
        background: var(--color-white);

        &.margin-bottom {
            margin-bottom: 70px;

            @media (max-width: 800px) {
                margin-bottom: 55px;
            }
        }

        .container {
            height: 51px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        .header__burger,
        .header__actions,
        .header__logo  {
            display: none;
        }

        @media (max-width: 1440px) {  
            padding-left: 10px;
            padding-right: 10px;
        }

        @media (max-width: 800px) {  
            background: var(--color-green);

            .container {
                height: 70px;
            }

            .header__burger {
                display: block;
    
                img {
                    display: block;
                }
            }

            .header__logo {
                display: block;
                font-size: 18px;
                line-height: 117%;
                flex-grow: initial;
            }

            .header__actions {
                display: flex;
            }
        }
    }
    // .header__location
    &__location {

        @media (max-width: 800px) {  
            display: none;
        }
    }
    // .header__nav
    &__nav {
        margin-left: 47px;

        .header__location {
            display: none;
        }

        .header__address {
            display: none;
        }

        @media (max-width: 1440px) {
            margin-left: 40px;
        }

        @media (max-width: 1024px) {
            margin-left: 40px;
        }

        @media (max-width: 800px) {  
            display: block;
            position: fixed;
            z-index: 100;
            background: var(--color-white);
            top: 70px;
            left: 0;
            width: 100%;
            bottom: 0;
            margin-left: 0;
            padding: 30px 30px 30px 40px;
            display: flex;
            flex-direction: column;
            gap: 25px;
            transform: translate(-100%, 0);
            transition: var(--transition);

            .header__location {
                display: flex;
            }

            .header__address {
                display: block;
            }

            .header-nav {
                flex-grow: 1;
            }

            &.open {
                transform: translate(0, 0);
            }
        }
    }
    // .header__phone
    &__phone {
        a {
            font-weight: 700;
            font-size: 16px;
            line-height: 131%;
            text-decoration: none;
        }

        @media (max-width: 800px) {  
            display: none;
        }
    }
    // .header__bottom
    &__bottom {
        background: var(--color-green);

        &.sticky {
            position: fixed;
            z-index: 10;
            top: 0;
            left: 0;
            width: 100%;
        }

        .container {
            height: 70px;
            display: flex;
            justify-content: space-between;
            align-items: center;
        }

        @media (max-width: 1440px) {  
            padding-left: 118px;
            padding-right: 18px;
        }
        @media (max-width: 1024px) {
            padding-left: 10px;
        }

        @media (max-width: 800px) {  
            background: var(--color-white);
            padding-left: 0;
            padding-right: 0;

            .container {
                height: 55px;
                align-items: flex-end;
            }
        }
    }
    // .header__logo
    &__logo {
        font-weight: 700;
        font-size: 25px;
        line-height: 84%;
        color: var(--color-white);

        @media (max-width: 1440px) { 
            margin-right: 37px;
        }
        @media (max-width: 1024px) {
            flex-grow: 1;
        }

        @media (max-width: 800px) {  
            display: none;
            margin-right: 0;
        }
    }
    // .header__search
    &__search {
        width: 100%;
        max-width: 640px;

        @media (max-width: 1024px) {
            margin-right: 63px;
            max-width: 483px;
        }
        @media (max-width: 800px) {
            border: 1px solid #808080;
            border-radius: 23px;
            max-width: initial;
            margin-right: 0;
        }
    }
    // .header__actions
    &__actions {
        margin-right: 48px;
        
        @media (max-width: 1440px) { 
            margin-right: 0;
        }

        @media (max-width: 800px) {  
            display: none;
        }
    }

    @media (max-width: 800px) {  
        z-index: 10;
    }
}