.header-search {
    position: relative;
    border-radius: 23px;
    height: 40px;
    background: var(--color-grey);

    // .header-search__input
    &__input {
        position: absolute;
        left: 21px;
        top: 11px;
        right: 47px;
        height: 18px;
        font-size: 15px;
        color: #000;
    }
    // .header-search__btn
    &__btn {
        position: absolute;
        right: -1px;
        top: 0;
        width: 40px;
        height: 40px;
        background: var(--color-orange) url(../img/search.svg) center no-repeat;
        border-radius: 50%;
    }
    &__fast-link {
        position: absolute;
        right: 65px;
        top: 11px;
        height: 18px;
        font-style: italic;
        font-size: 15px;
        text-decoration: underline;
        text-decoration-skip-ink: none;
        color: #999;
    }

    @media (max-width: 1024px) {
        &__fast-link {
            display: none;
        }
    }
}
