.product-card {
    padding: 20px;
    border: 1px solid #bfbfbf;
    border-radius: 10px;
    background: var(--color-white);

    // .product-card__img
    &__img {
        border-radius: 8px;
        overflow: hidden;
        aspect-ratio: 287 / 207;
        margin-bottom: 15px;

        img {
            height: 100%;
            width: 100%;
            object-fit: cover;
        }
    }
    // .product-card__content
    &__content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
    // .product-card__title
    &__title {
        font-weight: 700;
        font-size: 16px;
        line-height: 150%;
        color: #333;
    }
    // .product-card__params
    &__params {
        display: flex;
        flex-direction: column;
        gap: 4px;
    }
    // .product-card__param
    &__param {
        font-size: 16px;
        line-height: 150%;
        color: #333;
        display: flex;
        gap: 4px;
    }
    // .product-card__param-label
    &__param-label {        
        font-weight: 700;
    }
    // .product-card__param-val
    &__param-val {
    }
    // .product-card__actions
    &__actions {
        margin-top: 30px;
        display: flex;
        align-items: center;
        justify-content: space-between;
    }
    // .product-card__price
    &__price {
        font-weight: 700;
        font-size: 24px;
    }
    // .product-card__button-buy
    &__button-buy {
    }

    @media (max-width: 1440px) {
        padding: 20px 20px 13px;
    }

    @media (max-width: 1024px) {
        padding: 20px 20px 19px;

        &__actions {
            margin-top: 21px;
        }
    }
}
