<!DOCTYPE html>
<html lang="ru">

@@include("base/_head.html", {
"title": "Главная страница сайта"
})

<body class="page">
  <div class="page__wrapper">

    @@include("components/_header.html")
    <main class="main">

      <div class="container page-content">
        <section class="section section_spec">
          <h2 class="section__title">Спецпредложения</h2>

          <div class="carusel">
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
            @@include("components/_carusel-slide.html")
          </div>

        </section>

        <section class="section section_bordered">
          <h2 class="section__title">О компании</h2>

          <div class="section__content">
            <p>ООО "СпецАвтоПром" - компания, занимающаяся розничной продажей запчастей, расходных материалов,
              аксессуаров и комплектующих для автомобилей иностранного производства. В нашем ассортименте продукция
              ведущих европейских, корейских, японских марок, а так же большой выбор неоригинальных автомобильных
              запчастей.</p>
            <p>Мы предлагаем быстрый и удобный сервис по поиску, подбору и заказу необходимых вам запчастей, сезонную
              систему скидок и максимально короткие сроки доставки.</p>
          </div>
        </section>

      </div>


    </main>
    @@include("components/_footer.html")

  </div>
  <script src="js/main.min.js"></script>
</body>

</html>