<div class="product-card">
    <div class="product-card__img">
        <img src="img/product001.jpg" alt="product001">
    </div>
    <div class="product-card__content">
        <div class="product-card__title">
            Шланг радиатора OPEL VECTRA C 1.8 COMFORT 81 кВт
        </div>
        <div class="product-card__params">
            <div class="product-card__param">
                <div class="product-card__param-label">
                    Номер:
                </div>
                <div class="product-card__param-val">
                    Тут номер
                </div>
            </div>
            <div class="product-card__param">
                <div class="product-card__param-label">
                    Бренд:
                </div>
                <div class="product-card__param-val">
                    Название бренда
                </div>
            </div>
        </div>
    </div>
    <div class="product-card__actions">
        <div class="product-card__price">
            10 000 р.
        </div>
        <button class="btn product-card__button-buy">Купить</button>
    </div>
</div>