<div class="header__actions header-actions">
    <a href="#" class="header-actions__item">
        <div class="header-actions__item-button">
            <img src="img/cart.svg" alt="cart">
        </div>
        <div class="header-actions__item-icon">
            0
        </div>
    </a>
    <a href="#" class="header-actions__item">
        <div class="header-actions__item-button">
            <img src="img/profile.svg" alt="profile">
        </div>
        <div class="header-actions__item-icon">
            <img src="img/in.svg" alt="in">
        </div>
    </a>
</div>