/* Global styles */

html {
  height: 100%;
}

body {
  &.lock {
    overflow: hidden;
    max-height: 100vh;
    max-height: 100dvh;
  }
}

.page {
  height: 100%;
  min-height: 100%;

  @include body;

  &__wrapper {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    min-height: 100%;
    overflow: hidden;
  }
}

.page--lock {
  overflow: hidden;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
}

.container {
  width: 100%;
  max-width: 1388px;
  padding: 0 10px;
  margin: 0 auto;

  @media (max-width: 1440px) {    
    max-width: calc(100vw - 20px);
  }

  @media (max-width: 800px) { 
    max-width: 100%;
    padding: 0 20px;
  }
}
